<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/fondoduoc.png" class="background-image" alt="Fondo" />
  <div class="welcome-container">
    <h1>¡Bienvenido a RegistrAPP!</h1>
    <p>Esta aplicación te permite registrar tu asistencia de manera sencilla y rápida.</p>

    <ion-button expand="full" routerLink="/mis-asignaturas">Mis Asignaturas</ion-button>
    <ion-button expand="full" routerLink="/mis-asistencias">Mis Asistencias</ion-button>
    <ion-button expand="full" routerLink="/registrar-asistencia">Registrar Asistencia</ion-button>
    <ion-button expand="full" routerLink="/cambiar-clave">Cambiar Clave</ion-button>
  </div>
</ion-content>
